*{
    background-color: lightblue;
}
.primer-div{
    background-color:darkcyan;
    height: 400px;
    width: 400px;
    margin: auto;
    border: 10px outset black;
}
.foto-perfil{
    box-sizing: content-box;
    width: 241px;
    height: 180px;;
    border-radius: 80%;
    margin: 10px 10px;
}
.foto{
    box-sizing: content-box;
    width: 231px;
    height: 173px;
    border-radius: 80%;
    border: 5px solid;
}
.datos{
    border: 3px solid black;
    box-sizing: border-box;
    padding: 2px;
    width: 231px;
    height: 150px;
    margin: 30px 20px;
}