*{
    background-color: lightblue;
}
.primer-div{
    background-color:#DAD4EF;
    height: 580px;
    width: 520px;
    margin: 10px;
    border: 10px outset black;
    display: flex;
}
.foto-perfil{
    box-sizing: content-box;
    width: 241px;
    height: 180px;;
    border-radius: 80%;
    margin: 10px 10px;
}
.izquierda{
    background-color: #DAD4EF;
}
.foto{
    box-sizing: content-box;
    width: 231px;
    height: 173px;
    border-radius: 80%;
    border: 5px solid;
}
.datos{
    border: 3px solid black;
    box-sizing: border-box;
    padding: 2px;
    width: 231px;
    height: 190px;
    margin: 30px 20px;
}
.redes{
    border: 3px solid black;
    box-sizing: border-box;
    padding: 2px;
    width: 231px;
    height: 120px;
    margin: 30px 20px;
}
.instagram{
    width: 14%;
    height: 10%;
    margin: 10px;
}
h3{
    text-align: center;
    margin: auto;
}
.derecha{
    background-color: #DAD4EF;
}
.perfil{
    box-sizing: content-box;
    border: 3px solid black;
    width: 231px;
    height: auto;
    margin-top: 8%;}
.estudios{
    box-sizing: content-box;
    border: 3px solid black;
    width: 231px;
    height: auto;
    margin-top: 6%;
}